/* Quiz ---------------*/
#ib-edu-questions .question {
	margin-bottom: 10px;
}

#ib-edu-questions .question-placeholder {
	border: 1px dashed #ddd;
	height: 34px;
	margin-bottom: 10px;
}

#ib-edu-questions .question-header {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	color: #222;
	cursor: move;
	display: block;
	outline: none;
	position: relative;
	text-decoration: none;
}

#ib-edu-questions .question-header .text {
	display: block;
	font-weight: bold;
	padding: 8px 10px;
}

#ib-edu-questions .question-trigger {
	color: #aaa;
	cursor: pointer;
	display: block;
	height: 34px;
	line-height: 34px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 34px;
}

#ib-edu-questions .question-trigger:before {
	content: '\f140';
	display: inline-block;
	font: 400 20px/1 dashicons;
	position: relative;
	top: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#ib-edu-questions .question-trigger:hover {
	color: #777;
}

#ib-edu-questions .open .question-trigger:before {
	content: '\f142';
}

#ib-edu-questions .question-body {
	border: 1px solid #ddd;
	border-top: 0;
	background-color: #fff;
	display: none;
	padding: 15px;
	position: relative;
}

#ib-edu-questions div.question-body label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

#ib-edu-questions .question-text,
#ib-edu-questions .question-content-input {
	margin: 0;
	width: 100%;
}

#ib-edu-questions .question.open > .question-body {
	display: block;
}

#ib-edu-questions .question-options {
	margin-bottom: 15px;
	margin-top: 15px;
}

#ib-edu-questions .question-content,
#ib-edu-questions .question-answers {
	margin: 15px 0;
}

#ib-edu-questions .question-answers > p {
	margin: 0;
}

#ib-edu-questions .question-answers label {
	display: block;
	font-weight: bold;
}

#ib-edu-questions .question-answers table {
	border-collapse: collapse;
	width: 100%;
}

#ib-edu-questions .question-answers tr.placeholder {
	background-color: #f5f5f5;
}

#ib-edu-questions .question-answers tr.placeholder td {
	border: 1px dotted #ddd;
}

#ib-edu-questions .question-answers thead {
	display: none;
}

#ib-edu-questions .question-answers thead th {
	border: 1px solid #ddd;
	padding: 7px;
	text-align: left;
}

#ib-edu-questions .question-answers .answer td {
	background-color: #fff;
	border: 1px solid #ddd;
	height: 40px;
}

#ib-edu-questions .question-answers .answer td.column1,
#ib-edu-questions .question-answers .answer td.column2,
#ib-edu-questions .question-answers .answer td.column4 {
	text-align: center;
	width: 40px;
}

#ib-edu-questions .question-answers .answer td.column1 {
	padding: 0;
}

#ib-edu-questions .question-answers .answer td.column3 {
	padding: 0 7px;
}

#ib-edu-questions .question-answers input.answer-correct {
	margin: 0;
}

#ib-edu-questions .question-answers input.answer-text {
	margin: 0;
	width: 100%;
}

#ib-edu-questions .question-answers .handle {
	color: #aaa;
	cursor: move;
	height: 40px;
	line-height: 40px;
	width: 40px;
}

#ib-edu-questions .question-answers .handle:hover {
	color: #777;
}

.quiz-buttons-group {
	margin-top: 15px;
}

.quiz-buttons-group .button,
.quiz-buttons-group > a {
	margin-right: 5px;
}

.quiz-buttons-group .delete-question {
	color: #a00;
	display: inline-block;
	line-height: 28px;
	text-decoration: none;
}

.quiz-buttons-group .delete-question:hover {
	color: red;
}
